@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

/* 
body{
    background-color: rgba(17, 17, 17, 1);
} */
/* Shared style */
.display-flex{
    display: flex;
}
.bg-color-2{
    background-color: #000000;
}
.bg-color{
   background-color: rgba(17, 17, 17, 1);
}
/* Font-1 */
.font-1{
    color: #FFFFFF;
}
/* Font-2 */
.font-2{
    color: #E6533C;
}
/* Font-3 */
.font-3{
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 17px 43px;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* header style */
.nav-container {
    max-width: 1202px;
    margin: 0 auto;
}
.nav-contents{
    display: flex;
    justify-content: space-between;
}
.gym-title{
    font-size: 32px;
    font-weight: 700;
}

.nav-lists{
    display: flex;
    width: 430px;
    height: 42px;
    border: 2px solid #4e4d4d70;
    border-radius: 42px;
    padding: 1px;
}
.list-items{
    list-style: none;
    margin: 11px 48px 0px 2px;
}
.list-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.active{
    background-color: #E6533C;
    padding: 10px 24px;
    border-radius: 25px;
    font-weight: 600;
}
#hambergur-icon{
    /* display: none; */
}


/* Banner section */

.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 36rem;
}
.banner-title{
    font-size: 73px;
    font-weight: 800;
    line-height: 96px;
}
.style-title{
    font-size: 110px;
}
.banner-description{
    color: rgb(255 255 255 / 54%);
    margin: 42px 0;
    font-size: 17px;
    font-weight: 400;
}
#banner-btn{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 28px;
    margin-left: 12px;
}
.banner-card{
    background-color: rgba(255, 255, 255, 0.1);
    width: 160px;
    border: 1px solid #80808033;
    border-radius: 17px;
    padding: 2px 9px 8px 25px;
    line-height: 0px;
}
.card-title{
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
}
.card-descript{
    font-size: 13px;
    font-weight: 400;
    color: rgb(255 255 255 / 54%);
}
#card-1{
    position: absolute;
    top: 195px;
    right: 129px;
}
#card-2{
    position: absolute;
    bottom: 138px;
    right: 437px;
}
.inner-card-2 {
    margin: 0px 0px 0px 45px;
}
#icon {
    background-color: #E6533C;
    color: #ffff;
    padding: 11px 12px;
    border-radius: 19px;
    position: absolute;
    top: 41px;
    left: 18px;
}
.banner-image{
   max-width: 100%;
}

/* main sectional area */

.gym-habits {
    max-width: 1202px;
    margin: 0 auto;
    margin-top: -21px;
    padding-bottom: 4rem;
    text-align: center;
}
.habits-content {
    padding: 38px 0 0 0;
    width: 59%;
    margin: 0 auto;
    margin-top: 21px;
}
.habit-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 23px;
}
.habit-description {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 6rem;
}
.habit-card-img {
    border-radius: 8rem;
}
.habit-card-title {
    font-size: 16px;
    font-weight: 600;
}
.habit-card-description {
    font-size: 16px;
    font-weight: 400;
}

/* footer */

/* Small device style */

@media screen and (max-width: 576px) {
    header{
        padding: 15px;
    }
    .banner{
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .banner-content{
        width: 47%;
    }
    .banner-title {
        width: 25rem;
        font-size: 50px;
        line-height: 61px;
    }
    .style-title {
        font-size: 84px;
    }
    .banner-description {        
        font-size: 16px;
        font-weight: 400;
        width: 18rem;
    }
    .banner-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 23rem;
    }
    .btn-primary {
        padding: 16px 29px;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .banner-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin-left: 0; */
        width: 23rem;
    }
    #banner-btn{
        /* margin-left: 12px; */
    }
    .nav-lists{
        display: none;
        display: "<i class="fa-solid fa-bars"></i>";
    }
    .banner-image {
        width: 60%;
        margin-left: 6rem;
        margin-bottom: -19px;
    }
    .banner-card {

        width: 141px;
        padding: 0px 0px 0px 14px;
        line-height: 0px;
    }
    .card-title {
        font-size: 32px;
        font-weight: 500;
        color: #FFFFFF;
    }
    .card-descript {
        font-size: 11px;
    }
    #card-1 {
        position: absolute;
        top: 41rem;
        right: 2rem;
    }
    #card-2 {
        position: absolute;
        bottom: -18rem;
        right: 15.5rem;
        padding-right: 0px;
    }
    #icon {
        padding: 7px 9px;
        position: absolute;
        top: 24px;
        left: 14px;
    }
    #hambergur-icon {
        /* display: block; */
        color: #ffff;
        font-size: 22px;
        position: absolute;
        right: 5rem;
        top: 58px;
    }
    .habits-content {
        width: 72%;
    }
    .habit-container{
        width: 75%;
        margin: 0 auto;
        flex-direction: column;
        gap: 37px;
    }
}