@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

/* 
body{
    background-color: rgba(17, 17, 17, 1);
} */
/* Shared style */
.display-flex{
    display: flex;
}
.bg-color-2{
    background-color: #000000;
}
.bg-color{
   background-color: rgba(17, 17, 17, 1);
}
/* Font-1 */
.font-1{
    color: #FFFFFF;
}
/* Font-2 */
.font-2{
    color: #E6533C;
}
/* Font-3 */
.font-3{
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 17px 43px;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* header style */
.nav-container {
    max-width: 1202px;
    margin: 0 auto;
}
.nav-contents{
    display: flex;
    justify-content: space-between;
}
.gym-title{
    font-size: 32px;
    font-weight: 700;
}

.nav-lists{
    display: flex;
    width: 430px;
    height: 42px;
    border: 2px solid #4e4d4d70;
    border-radius: 42px;
    padding: 1px;
}
.list-items{
    list-style: none;
    margin: 11px 48px 0px 2px;
}
.list-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.active{
    background-color: #E6533C;
    padding: 10px 24px;
    border-radius: 25px;
    font-weight: 600;
}
#hambergur-icon{
    /* display: none; */
}


/* Banner section */

.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 36rem;
}
.banner-title{
    font-size: 73px;
    font-weight: 800;
    line-height: 96px;
}
.style-title{
    font-size: 110px;
}
.banner-description{
    color: rgb(255 255 255 / 54%);
    margin: 42px 0;
    font-size: 17px;
    font-weight: 400;
}
#banner-btn{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 28px;
    margin-left: 12px;
}
.banner-card{
    background-color: rgba(255, 255, 255, 0.1);
    width: 160px;
    border: 1px solid #80808033;
    border-radius: 17px;
    padding: 2px 9px 8px 25px;
    line-height: 0px;
}
.card-title{
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
}
.card-descript{
    font-size: 13px;
    font-weight: 400;
    color: rgb(255 255 255 / 54%);
}
#card-1{
    position: absolute;
    top: 195px;
    right: 129px;
}
#card-2{
    position: absolute;
    bottom: 138px;
    right: 437px;
}
.inner-card-2 {
    margin: 0px 0px 0px 45px;
}
#icon {
    background-color: #E6533C;
    color: #ffff;
    padding: 11px 12px;
    border-radius: 19px;
    position: absolute;
    top: 41px;
    left: 18px;
}
.banner-image{
   max-width: 100%;
}

/* main sectional area */

.gym-habits {
    max-width: 1202px;
    margin: 0 auto;
    margin-top: -21px;
    padding-bottom: 4rem;
    text-align: center;
}
.habits-content {
    padding: 38px 0 0 0;
    width: 59%;
    margin: 0 auto;
    margin-top: 21px;
}
.habit-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 23px;
}
.habit-description {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 6rem;
}
.habit-card-img {
    border-radius: 8rem;
}
.habit-card-title {
    font-size: 16px;
    font-weight: 600;
}
.habit-card-description {
    font-size: 16px;
    font-weight: 400;
}
.timing-section {
    max-width: 1202px;
    margin: 0 auto;
    padding: 36px 3px 36px 82px;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}
.right-side {
    width: 42rem;
}
.right-side-img {
    width: 92%;
    border-radius: 2rem;
}
.left-side {
    width: 30rem;
    margin-right: 14rem;
}
.left-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 23px;
}
.left-description {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2rem;
}
#left-btn {
    padding: 14px 71px;
    font-size: 18px;
}
.bmi-section{
   max-width: 1202px;
   margin: 0 auto;
}
.bmi-content {
    width: 59%;
    margin: 0 auto;
    margin-top: 6rem;
}
.bmi-main-container{
    background-color: #222222;
    justify-content: center;
    padding: 4rem;
}
.left-bmi {
    margin-right: 8rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}
.bmi-left-title.font-1 {
    margin-bottom: 2rem;
}
.table{
    width: 100%;
}
.bmi-table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    width: 366px;
    padding: 11px 13px;
    text-align: left;
}
th{
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 300;
}
.bmi-form {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    gap: 9px;
    margin-bottom: 27px;
}
.gender-option {
    padding: 15px 19px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255 255 255 / 37%);
    border: none;
    outline: none;
    border-radius: 7px;
}
.bmi-title.font-1 {
    font-size: 46px;
    font-weight: 700;
}
.bmi-description.font-3 {
    font-size: 16px;
    font-weight: 500;
}
#last-gender-option {
    width: 30.5rem;
}
.team-section {
    max-width: 1202px;
    margin: 0 auto;
    text-align: center;
}
.team-title.font-1 {
    font-size: 44px;
    font-weight: 700;
}
.team-description.font-3 {
    font-size: 17px;
    font-weight: 400;
    margin-top: -17px;
}
.team-content {
    width: 50rem;
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 6rem;
}
.team-img-box {
    margin: -5rem 21rem 0 0;
}
.team-card {   
    width: 100%;
}
.team-img {
    width: 354.8px;
    height: 317.1px;
    border-radius: 22px;
}
.team-container {
    display: grid;
    grid-template-columns: repeat(3, 398px);
    background-color: #222222;
    padding: 21px 3px 3px;
    border-radius: 28px;
}
.team-img-box {
    margin: -6rem 35px 45px;
    text-align: left;
}
.team-img-title{
    font-size: 23px;
}
/* footer */

/* Small device style */

@media screen and (max-width: 576px) {
    header{
        padding: 15px;
    }
    .banner{
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .banner-content{
        width: 47%;
    }
    .banner-title {
        width: 25rem;
        font-size: 50px;
        line-height: 61px;
    }
    .style-title {
        font-size: 84px;
    }
    .banner-description {        
        font-size: 16px;
        font-weight: 400;
        width: 18rem;
    }
    .banner-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 23rem;
    }
    .btn-primary {
        padding: 16px 29px;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .banner-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin-left: 0; */
        width: 23rem;
    }
    #banner-btn{
        /* margin-left: 12px; */
    }
    .nav-lists{
        display: none;
        display: "<i class="fa-solid fa-bars"></i>";
    }
    .banner-image {
        width: 60%;
        margin-left: 6rem;
        margin-bottom: -19px;
    }
    .banner-card {

        width: 141px;
        padding: 0px 0px 0px 14px;
        line-height: 0px;
    }
    .card-title {
        font-size: 32px;
        font-weight: 500;
        color: #FFFFFF;
    }
    .card-descript {
        font-size: 11px;
    }
    #card-1 {
        position: absolute;
        top: 41rem;
        right: 2rem;
    }
    #card-2 {
        position: absolute;
        bottom: -18rem;
        right: 15.5rem;
        padding-right: 0px;
    }
    #icon {
        padding: 7px 9px;
        position: absolute;
        top: 24px;
        left: 14px;
    }
    #hambergur-icon {
        /* display: block; */
        color: #ffff;
        font-size: 22px;
        position: absolute;
        right: 5rem;
        top: 58px;
    }
    .habits-content {
        width: 72%;
    }
    .habit-container{
        width: 75%;
        margin: 0 auto;
        flex-direction: column;
        gap: 37px;
    }
    .timing-section {
        flex-direction: column;
    }
    .left-side {
        width: 20rem;
        margin: 0 auto;
        margin-left: -3rem;
    }
    #left-btn {
        padding: 14px 119px;
        font-size: 18px;
    }
    .right-side {
        width: auto;
    }
    .right-side-img {
        width: 20rem;
        margin-left: -6rem;
        border-radius: 2rem;
    }
    .bmi-main-container{
        flex-direction: column;
        padding: 2rem;
    }
    .bmi-content {
        width: 86%;
        margin: 0 auto;
        margin-top: 5rem;
    }
    .left-bmi {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    .bmi-table, th, td {      
        width: 351px;
        padding: 10px 11px;
    }
    .bmi-form {  
        grid-template-columns: repeat(2, 172px);  
        margin: 34px 0; 
    }
    #last-gender-option {
        width: 22rem;
    }
    .right-bmi {
        margin-top: 18px;
    }
    .team-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content {
        width: 84%;
        margin: 0 auto;
        margin-top: 7rem;
        margin-bottom: 4rem;
    }
}